@import '../../../shared/styles/shared';
@import '../../../../../node_modules/@angular/material/theming';

.audio-player{
  width: 100%;
  display: flex;
  &__text {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $small-margin;
    width: 700px;
    overflow: hidden;

    &-title {
      color:white;
      margin-bottom: 4px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &-topics {
      text-transform: uppercase;
      color: $topic-color;
    }


  }

  &__buttons {
    padding-left: $medium-margin;
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__duration {
    margin-right: $small-margin;
    width: 40px;
    color: white;
  }
}

.progress-bar-container {
  padding-left: $medium-margin;
  margin-right: $small-margin
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: white;
}

::ng-deep .mat-progress-bar-buffer {
  background: #527db9;
}

::ng-deep .mat-progress-bar {
  border-radius: 5px;
}


@media screen and (max-width: 1000px) {

  .progress-bar-container {
    padding-left: $small-margin;
  }

  .audio-player {
    flex-direction: column;

    &__text {
      padding-top: $medium-margin;
      width: 250px;
    }

    &__buttons {
      width: unset;
    }
  }

  .mat-body-1 {
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 8px;
  }

  .mat-caption {
    font-size: 10px;
    line-height: 10px;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .audio-player__text {
    width: 500px;
  }
}
