@import '~@angular/material/theming';
@import '~src/app/shared/styles/theme';

:host ::ng-deep button.with-loading {
  mat-progress-spinner {
    display: inline-block;
  }
}

button[mat-raised-button],
button[mat-button] {
  text-transform: uppercase;
}

// icon inside a form field will have grey color
mat-form-field {
  mat-icon {
    color: map_get($mat-grey, 600);
    margin-right: 8px;
  }

  // Normal style
  &:not(.mat-form-field-invalid) {
    // Remove underline for Input
    .mat-form-field-underline {
      display: none !important;
    }
  }

  // Error style
  &.mat-form-field-invalid {
    // red color with prefix icon
    .mat-form-field-prefix {
      mat-icon {
        color: $warn-color;
      }
    }
  }
}
