@import '~@angular/material/theming';


$content-width: 1024px;
$top-bar-height: 65px;
$small-margin: 8px;
$medium-margin: 16px;
$big-margin: 32px;

$typography-margin: 4px;
$topic-color: #c7c7c7;
$list-item-height: 100px;
$background-color: map_get($mat-grey, 100);


@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size !important;
}

.main-button {
  width: 55px !important;
  height: 55px  !important;
  line-height:50px !important;
}

.big-icon {
  color: #a0a4b2;
  @include mat-icon-size(50px);
}

.medium-icon {
  color: #a0a4b2;
  @include mat-icon-size(30px);
}
