@import '~@angular/material/theming';

$audionews-app-primary: mat-palette($mat-blue, 800);

$audionews-app-accent: mat-palette($mat-grey);

$audionews-app-warn: mat-palette($mat-red, 900);

$warn-color: map_get($mat-red, 900);

$audionews-app-theme: mat-light-theme($audionews-app-primary, $audionews-app-accent, $audionews-app-warn);

$grey-color: map_get($mat-grey, 500);
$main-color: #2f64ac;

@media screen and (max-width: 1000px) {

  .full-popup  {
    max-width: none !important;
    width: 100vw;
    height: 100vh;
  }
}

.popup-dimension {
  height: 100%
}

@media screen and (min-width: 1000px) {

  .popup-dimension {
    width: 500px
  }
}
