@import '../../../shared/styles/shared';
@import '../../../shared/styles/theme';

.audio-player {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: $main-color;
  height: $top-bar-height;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.big-icon {
  color: white;
}

.user-menu {
  padding-right: $medium-margin;
}

::ng-deep {
  .mat-menu-panel {
    width: 200px;
  }
}


@media screen and (max-width: 480px) {
  .audio-player {
    height: unset;
  }

  .user-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0;
  }
}

