.topics-display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media screen and (min-width: 480px) {

  .topics-dimension {
    height: 500px;
    width: 500px
  }
}
