@import '~src/app/shared/styles/shared';

.news-item {
  width: 90%;
  margin: auto;
  cursor: pointer;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $list-item-height;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
  }
}


.mat-title {
  font-size: 17px;
  margin-bottom: $typography-margin;
  color: #4A4A4B;
}

.mat-subheading-2 {
  text-transform: uppercase;
  margin-bottom: 0;
  color: $topic-color;
}

.mat-subheading-1 {
  color: #a2a2a2;
  margin-bottom: $typography-margin;
}

.image-container {
  width: $medium-image-size;
  padding-right: $big-margin;
}

.playing {
  background-color: aliceblue;
}

@media screen and (max-width: 480px) {
  .news-item {
    width: 100%;
  }

  .topic {
    font-weight: bold;
    color: green;
  }
  .image-container {
    width: $small-image-size;
    padding-right: $small-margin;
  }

}

@media screen and (min-width: 481px) {
  .topic {
    padding: 5px 5px !important;
    border-radius: 5px;
    color: white !important;
    font-size: 14px !important;
    line-height: 1.2;
    font-weight: 500;
    width: 150px;
    background-color: green;
    text-align: center;
  }
}
