@import '../../../shared/styles/shared';
@import '../../../shared/styles/theme';

.news-page {
  margin-top: $top-bar-height;
  background-color: $main-color;
  position: absolute;
  top: 0;
  bottom:0;
  width: 100%;
  overflow-x: hidden;
}



@media screen and (max-width: 1000px) {
  .news-page {
    margin-top: $mobile-top-bar-height;
  }
}
